<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiyi.system.mapper.BannerMapper">
    
    <resultMap type="Banner" id="BannerResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="linkUrl"    column="link_url"    />
        <result property="pageType"    column="page_type"    />
        <result property="displayOrder"    column="display_order"    />
        <result property="status"    column="status"    />
        <result property="aspectRatio"    column="aspect_ratio"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="deletedAt"    column="deleted_at"    />
        <result property="deletedBy"    column="deleted_by"    />
    </resultMap>

    <sql id="selectBannerVo">
        select id, title, image_url, link_url, page_type, display_order, status, aspect_ratio, created_at, updated_at, created_by, updated_by, is_deleted, deleted_at, deleted_by from banner
    </sql>

    <select id="selectBannerList" parameterType="Banner" resultMap="BannerResult">
        <include refid="selectBannerVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="linkUrl != null  and linkUrl != ''"> and link_url = #{linkUrl}</if>
            <if test="pageType != null "> and page_type = #{pageType}</if>
            <if test="displayOrder != null "> and display_order = #{displayOrder}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="aspectRatio != null  and aspectRatio != ''"> and aspect_ratio = #{aspectRatio}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
            <if test="createdBy != null "> and created_by = #{createdBy}</if>
            <if test="updatedBy != null "> and updated_by = #{updatedBy}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="deletedAt != null "> and deleted_at = #{deletedAt}</if>
            <if test="deletedBy != null "> and deleted_by = #{deletedBy}</if>
        </where>
    </select>
    
    <select id="selectBannerById" parameterType="Long" resultMap="BannerResult">
        <include refid="selectBannerVo"/>
        where id = #{id}
    </select>

    <insert id="insertBanner" parameterType="Banner" useGeneratedKeys="true" keyProperty="id">
        insert into banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="linkUrl != null">link_url,</if>
            <if test="pageType != null">page_type,</if>
            <if test="displayOrder != null">display_order,</if>
            <if test="status != null">status,</if>
            <if test="aspectRatio != null">aspect_ratio,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="deletedAt != null">deleted_at,</if>
            <if test="deletedBy != null">deleted_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="linkUrl != null">#{linkUrl},</if>
            <if test="pageType != null">#{pageType},</if>
            <if test="displayOrder != null">#{displayOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="aspectRatio != null">#{aspectRatio},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="deletedAt != null">#{deletedAt},</if>
            <if test="deletedBy != null">#{deletedBy},</if>
         </trim>
    </insert>

    <update id="updateBanner" parameterType="Banner">
        update banner
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="linkUrl != null">link_url = #{linkUrl},</if>
            <if test="pageType != null">page_type = #{pageType},</if>
            <if test="displayOrder != null">display_order = #{displayOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="aspectRatio != null">aspect_ratio = #{aspectRatio},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="deletedAt != null">deleted_at = #{deletedAt},</if>
            <if test="deletedBy != null">deleted_by = #{deletedBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBannerById" parameterType="Long">
        delete from banner where id = #{id}
    </delete>

    <delete id="deleteBannerByIds" parameterType="String">
        delete from banner where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>