<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiyi.catalog.mapper.AcademicResourceMapper">
    
    <resultMap type="AcademicResource" id="AcademicResourceResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="resourceTitle"    column="resource_title"    />
        <result property="jumpUrl"    column="jump_url"    />
        <result property="status"    column="status"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="deletedAt"    column="deleted_at"    />
        <result property="deletedBy"    column="deleted_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAcademicResourceVo">
        select id, project_id, resource_title, jump_url, status, created_at, updated_at, created_by, updated_by, del_flag, deleted_at, deleted_by, remark from academic_resource
    </sql>

    <select id="selectAcademicResourceList" parameterType="AcademicResource" resultMap="AcademicResourceResult">
        <include refid="selectAcademicResourceVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="resourceTitle != null  and resourceTitle != ''"> and resource_title like concat('%', #{resourceTitle}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAcademicResourceById" parameterType="Long" resultMap="AcademicResourceResult">
        <include refid="selectAcademicResourceVo"/>
        where id = #{id}
    </select>

    <insert id="insertAcademicResource" parameterType="AcademicResource" useGeneratedKeys="true" keyProperty="id">
        insert into academic_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="resourceTitle != null and resourceTitle != ''">resource_title,</if>
            <if test="jumpUrl != null">jump_url,</if>
            <if test="status != null">status,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="deletedAt != null">deleted_at,</if>
            <if test="deletedBy != null">deleted_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="resourceTitle != null and resourceTitle != ''">#{resourceTitle},</if>
            <if test="jumpUrl != null">#{jumpUrl},</if>
            <if test="status != null">#{status},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="deletedAt != null">#{deletedAt},</if>
            <if test="deletedBy != null">#{deletedBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAcademicResource" parameterType="AcademicResource">
        update academic_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="resourceTitle != null and resourceTitle != ''">resource_title = #{resourceTitle},</if>
            <if test="jumpUrl != null">jump_url = #{jumpUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="deletedAt != null">deleted_at = #{deletedAt},</if>
            <if test="deletedBy != null">deleted_by = #{deletedBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAcademicResourceById" parameterType="Long">
        delete from academic_resource where id = #{id}
    </delete>

    <delete id="deleteAcademicResourceByIds" parameterType="String">
        delete from academic_resource where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>