<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiyi.catalog.mapper.ProjectImageMapper">
    
    <resultMap type="ProjectImage" id="ProjectImageResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="imageTitle"    column="image_title"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="status"    column="status"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="deletedAt"    column="deleted_at"    />
        <result property="deletedBy"    column="deleted_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProjectImageVo">
        select id, project_id, image_title, image_url, sort_order, status, created_at, updated_at, created_by, updated_by, del_flag, deleted_at, deleted_by, remark from project_image
    </sql>

    <select id="selectProjectImageList" parameterType="ProjectImage" resultMap="ProjectImageResult">
        <include refid="selectProjectImageVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="imageTitle != null  and imageTitle != ''"> and image_title like concat('%', #{imageTitle}, '%')</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
    </select>
    
    <select id="selectProjectImageById" parameterType="Long" resultMap="ProjectImageResult">
        <include refid="selectProjectImageVo"/>
        where id = #{id}
    </select>

    <insert id="insertProjectImage" parameterType="ProjectImage" useGeneratedKeys="true" keyProperty="id">
        insert into project_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="imageTitle != null and imageTitle != ''">image_title,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="status != null">status,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="deletedAt != null">deleted_at,</if>
            <if test="deletedBy != null">deleted_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="imageTitle != null and imageTitle != ''">#{imageTitle},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="deletedAt != null">#{deletedAt},</if>
            <if test="deletedBy != null">#{deletedBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateProjectImage" parameterType="ProjectImage">
        update project_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="imageTitle != null and imageTitle != ''">image_title = #{imageTitle},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="deletedAt != null">deleted_at = #{deletedAt},</if>
            <if test="deletedBy != null">deleted_by = #{deletedBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectImageById" parameterType="Long">
        delete from project_image where id = #{id}
    </delete>

    <delete id="deleteProjectImageByIds" parameterType="String">
        delete from project_image where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>